<div class="container">
  <h1 class="page-header text-center">Developer Challenge</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="https://singlecolorimage.com/get/76f49c/600x600" class="img-fluid" />
          <a>
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Add Customer</h5>
          <a  class="btn btn-info">Add</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card"  height="120">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="https://singlecolorimage.com/get/9971d6/600x600" class="img-fluid"/>
          <a >
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">View Customer</h5>
          <a  class="btn btn-info">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
